In [1]:
# import psycopg2
# from sqlalchemy import create_engine


# # Database connection parameters
# database_connection_string = "postgresql://postgres:lizard@localhost:5432/omop54"
# engine = create_engine(database_connection_string)


# Establish the connection
# conn = psycopg2.connect(database_connection_string)

# # Create a cursor object to interact with the database
# cursor = conn.cursor()

# # Example query to fetch data from a table (replace 'your_table' with your actual table name)

# queries = {
#     "person": "SELECT * FROM person;",
#     "visit_occurrence": "SELECT * FROM visit_occurrence;",
#     "condition_occurrence": "SELECT * FROM condition_occurrence;",
#     "measurement": "SELECT * FROM measurement;",
#     "procedure_occurrence": "SELECT * FROM procedure_occurrence;",
#     "drug_exposure": "SELECT * FROM drug_exposure;"
# }

# # Load each table into a DataFrame
# dataframes = {}
# for table_name, query in queries.items():
#     dataframes[table_name] = pd.read_sql(query, engine)

# # Access individual DataFrames
# person_df = dataframes["person"]
# visit_occurrence_df = dataframes["visit_occurrence"]
# condition_occurrence_df = dataframes["condition_occurrence"]
# measurement_df = dataframes["measurement"]
# procedure_occurrence_df = dataframes["procedure_occurrence"]
# drug_exposure_df = dataframes["drug_exposure"]

# # query = "SELECT *  FROM visit_occurrence"

# # # Execute the query
# # cursor.execute(query)

# # # Fetch the result of the query
# # data = cursor.fetchall()

# # Get the column names
# # column_names = [desc[0] for desc in cursor.description]

# # Convert the data to a Pandas DataFrame
# # df = pd.DataFrame(data, columns=column_names)

# # Close the cursor and connection
# cursor.close()
# conn.close()

# # Display the DataFrame
# person_df

In [2]:
import pandas as pd
from datetime import datetime
patients_df = pd.read_csv('patients.csv')


# Assuming 'BIRTHDATE' is in a 'YYYY-MM-DD' format
patients_df['BIRTHDATE'] = pd.to_datetime(patients_df['BIRTHDATE'])
patients_df['DEATHDATE'] = pd.to_datetime(patients_df['DEATHDATE'], errors='coerce')  # Handling missing death dates

# Calculate age: use current date if DEATHDATE is not available, otherwise use DEATHDATE
patients_df['age'] = patients_df.apply(
    lambda row: (row['DEATHDATE'] if pd.notnull(row['DEATHDATE']) else datetime.today()) - row['BIRTHDATE'], axis=1
).dt.days // 365  # Convert days to years

# Check the new column

In [3]:
procedure_occurrence_df = pd.read_csv('medications.csv')

procedure_occurrence_df['START'] = pd.to_datetime(procedure_occurrence_df['START'])
procedure_occurrence_df['STOP'] = pd.to_datetime(procedure_occurrence_df['STOP'])

# Add a 'month' column based on the 'START' date
procedure_occurrence_df['month'] = procedure_occurrence_df['START'].dt.to_period('M')

# Count number of medications per patient per month
procedure_occurrence_count = procedure_occurrence_df.groupby(['PATIENT', 'month']).size().reset_index(name='medication_count')

# Now you have a table with the number of medications per patient per month
procedure_occurrence_count

/var/folders/6j/65yn9kl11msgwnzlxj1rmk7h0000gn/T/ipykernel_6420/4014536871.py:7: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  procedure_occurrence_df['month'] = procedure_occurrence_df['START'].dt.to_period('M')

                                   PATIENT    month  medication_count
0     001de182-e64e-6d91-b51d-e2c0faf1c472  1956-01                 1
1     001de182-e64e-6d91-b51d-e2c0faf1c472  1975-05                 1
2     001de182-e64e-6d91-b51d-e2c0faf1c472  1984-07                 2
3     001de182-e64e-6d91-b51d-e2c0faf1c472  2022-10                 1
4     001de182-e64e-6d91-b51d-e2c0faf1c472  2023-02                 3
...                                    ...      ...               ...
4407  ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d  2022-05                 1
4408  ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d  2023-05                 1
4409  ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d  2024-05                 2
4410  ffbfb443-15da-7009-989f-101c5ef727ee  2024-07                 1
4411  ffbfb443-15da-7009-989f-101c5ef727ee  2024-10                 2

[4412 rows x 3 columns]

In [4]:
patients_df['GENDER'] = patients_df['GENDER'].map({'M': 0, 'F': 1})
patients_df = pd.get_dummies(patients_df, columns=['RACE'], drop_first=True)  # Drop first to avoid multicollinearity

In [5]:
# Assuming 'DIABETES', 'HYPERTENSION' are columns indicating presence of comorbidities
encounters_df = pd.read_csv("encounters.csv")
# List of conditions you're interested in tracking
# Drop nulls and make everything lowercase for consistency
encounters_df['REASONDESCRIPTION'] = encounters_df['REASONDESCRIPTION'].astype(str).str.lower()

patient_comorbidities = encounters_df.groupby('PATIENT')['REASONDESCRIPTION'].apply(lambda x: set(x.dropna())).reset_index()
patient_comorbidities.rename(columns={'REASONDESCRIPTION': 'conditions_set'}, inplace=True)


# Merge comorbidity columns back into the patient dataframe

patients_df = patients_df.merge(patient_comorbidities, left_on='Id', right_on='PATIENT', how='left')

In [6]:
def clean_condition_set(x):
    if isinstance(x, set):
        return {cond for cond in x if isinstance(cond, str) and cond.lower() != 'nan'}
    return set()

patients_df['conditions_set'] = patients_df['conditions_set'].apply(clean_condition_set)

In [7]:
patients_df['num_conditions'] = patients_df['conditions_set'].apply(lambda x: len(x) if isinstance(x, set) else 0)

patients_df

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,MIDDLE,LAST,...,INCOME,age,RACE_black,RACE_hawaiian,RACE_native,RACE_other,RACE_white,PATIENT,conditions_set,num_conditions
0,5a99402f-41ab-6dde-f8ba-9a2b495afbbf,1991-04-27,NaT,999-63-8249,S99956645,X83097310X,Mr.,Manuel,Felipe,Bustamante,...,20862,34,False,False,False,False,True,5a99402f-41ab-6dde-f8ba-9a2b495afbbf,{},0
1,07f66484-7460-46dd-7612-994f71ef0170,1979-09-13,NaT,999-34-8618,S99986252,X20673175X,Mr.,Alden,Donn,Stroman,...,248749,45,False,False,False,False,True,07f66484-7460-46dd-7612-994f71ef0170,{sinusitis (disorder)},1
2,d25d8197-53b6-dd2c-c74a-ac0c9659aa8e,2003-01-27,NaT,999-53-5861,S99943256,X56543167X,Ms.,Azalee,Yael,MacGyver,...,141590,22,False,False,False,False,True,d25d8197-53b6-dd2c-c74a-ac0c9659aa8e,"{contraception care (regime/therapy), viral si...",5
3,f73f65ff-894d-39c1-32a5-fd9b6dd8a5c7,1973-06-12,NaT,999-83-5315,S99926569,X83168109X,Ms.,Eboni,Lissa,Heaney,...,106721,51,False,False,False,False,True,f73f65ff-894d-39c1-32a5-fd9b6dd8a5c7,"{sepsis (disorder), contraception care (regime...",4
4,b5c5c221-7836-f966-6545-67f16ac8f8b7,1972-11-28,NaT,999-11-1506,S99984663,X21959205X,Mr.,Nick,Tom,Kiehn,...,22078,52,False,False,False,False,True,b5c5c221-7836-f966-6545-67f16ac8f8b7,"{gingivitis (disorder), acute viral pharyngiti...",3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1024,973f891d-ace0-093b-a633-17d1f46750e5,1958-11-28,NaT,999-90-5373,S99911225,X87960479X,Mrs.,Mindi,Ailene,Bartell,...,6660,66,False,False,False,False,True,973f891d-ace0-093b-a633-17d1f46750e5,{perennial allergic rhinitis with seasonal var...,14
1025,89003fc5-48cb-01e0-3208-bc1060740448,1940-09-02,2020-10-04,999-85-3529,S99970052,X6825314X,Ms.,Twanda,Alisia,Keeling,...,119347,80,False,False,False,False,True,89003fc5-48cb-01e0-3208-bc1060740448,"{pulmonary emphysema (disorder), patient refer...",8
1026,61769d0c-8cc6-d199-1e28-6ebe57069fdb,1940-09-02,1986-11-26,999-48-2856,S99935656,X15430111X,Mrs.,Pearlie,Sharri,Schaefer,...,119347,46,False,False,False,False,True,61769d0c-8cc6-d199-1e28-6ebe57069fdb,"{glycine max (substance), sterilization reques...",11
1027,69c76040-2b7a-6843-45d5-e3044c10e230,1940-09-02,1984-06-29,999-27-3077,S99968156,X74772395X,Mrs.,Valery,NaN,Abbott,...,119347,43,False,False,False,False,True,69c76040-2b7a-6843-45d5-e3044c10e230,"{acute bacterial sinusitis (disorder), chronic...",2
1028,626745ee-e39c-85d5-f0b0-3084d51ade31,1940-09-02,NaT,999-73-9486,S99917762,X18763510X,Mrs.,Arlette,Daysi,Kemmer,...,119347,84,False,False,False,False,True,626745ee-e39c-85d5-f0b0-3084d51ade31,"{gingivitis (disorder), polyp of colon (disord...",7

In [8]:
merged_df = procedure_occurrence_count.merge(
    patients_df[['Id', 'conditions_set', 'num_conditions']],
    left_on='PATIENT',
    right_on='Id',
    how='left'
)

In [9]:
merged_df

,PATIENT,month,medication_count,Id,conditions_set,num_conditions
0,001de182-e64e-6d91-b51d-e2c0faf1c472,1956-01,1,001de182-e64e-6d91-b51d-e2c0faf1c472,"{ischemic heart disease (disorder), aortic val...",10
1,001de182-e64e-6d91-b51d-e2c0faf1c472,1975-05,1,001de182-e64e-6d91-b51d-e2c0faf1c472,"{ischemic heart disease (disorder), aortic val...",10
2,001de182-e64e-6d91-b51d-e2c0faf1c472,1984-07,2,001de182-e64e-6d91-b51d-e2c0faf1c472,"{ischemic heart disease (disorder), aortic val...",10
3,001de182-e64e-6d91-b51d-e2c0faf1c472,2022-10,1,001de182-e64e-6d91-b51d-e2c0faf1c472,"{ischemic heart disease (disorder), aortic val...",10
4,001de182-e64e-6d91-b51d-e2c0faf1c472,2023-02,3,001de182-e64e-6d91-b51d-e2c0faf1c472,"{ischemic heart disease (disorder), aortic val...",10
...,...,...,...,...,...,...
4407,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,2022-05,1,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,{inflammatory disorder due to increased blood ...,10
4408,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,2023-05,1,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,{inflammatory disorder due to increased blood ...,10
4409,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,2024-05,2,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,{inflammatory disorder due to increased blood ...,10
4410,ffbfb443-15da-7009-989f-101c5ef727ee,2024-07,1,ffbfb443-15da-7009-989f-101c5ef727ee,"{otitis media (disorder), acute bronchitis (di...",2
4411,ffbfb443-15da-7009-989f-101c5ef727ee,2024-10,2,ffbfb443-15da-7009-989f-101c5ef727ee,"{otitis media (disorder), acute bronchitis (di...",2

In [10]:
encounters_df['START'] = pd.to_datetime(encounters_df['START'])
encounters_df['STOP'] = pd.to_datetime(encounters_df['STOP'])

encounters_df['length_of_stay'] = (encounters_df['STOP'] - encounters_df['START']).dt.total_seconds() / 3600
encounters_df['month'] = encounters_df['START'].dt.to_period('M').astype(str)
monthly_los = encounters_df.groupby(['PATIENT', 'month'])['length_of_stay'].sum().reset_index()
monthly_los

/var/folders/6j/65yn9kl11msgwnzlxj1rmk7h0000gn/T/ipykernel_6420/4280696565.py:5: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  encounters_df['month'] = encounters_df['START'].dt.to_period('M').astype(str)

                                    PATIENT    month  length_of_stay
0      001de182-e64e-6d91-b51d-e2c0faf1c472  1934-11        0.250000
1      001de182-e64e-6d91-b51d-e2c0faf1c472  1935-11        0.962222
2      001de182-e64e-6d91-b51d-e2c0faf1c472  1948-12        0.773333
3      001de182-e64e-6d91-b51d-e2c0faf1c472  1955-01        0.964167
4      001de182-e64e-6d91-b51d-e2c0faf1c472  1956-01        2.236111
...                                     ...      ...             ...
13404  ffbfb443-15da-7009-989f-101c5ef727ee  2024-03        0.250000
13405  ffbfb443-15da-7009-989f-101c5ef727ee  2024-07        0.500000
13406  ffbfb443-15da-7009-989f-101c5ef727ee  2024-09        0.250000
13407  ffbfb443-15da-7009-989f-101c5ef727ee  2024-10        0.250000
13408  ffbfb443-15da-7009-989f-101c5ef727ee  2025-03        0.250000

[13409 rows x 3 columns]

In [11]:
encounters_df['month'] = encounters_df['month'].astype(str)
merged_df['month'] = merged_df['month'].astype(str)


full_df = pd.merge(merged_df, monthly_los, on=['PATIENT', 'month'], how='left')
full_df['length_of_stay'] = full_df['length_of_stay'].fillna(0)

In [12]:
full_df

,PATIENT,month,medication_count,Id,conditions_set,num_conditions,length_of_stay
0,001de182-e64e-6d91-b51d-e2c0faf1c472,1956-01,1,001de182-e64e-6d91-b51d-e2c0faf1c472,"{ischemic heart disease (disorder), aortic val...",10,2.236111
1,001de182-e64e-6d91-b51d-e2c0faf1c472,1975-05,1,001de182-e64e-6d91-b51d-e2c0faf1c472,"{ischemic heart disease (disorder), aortic val...",10,0.250000
2,001de182-e64e-6d91-b51d-e2c0faf1c472,1984-07,2,001de182-e64e-6d91-b51d-e2c0faf1c472,"{ischemic heart disease (disorder), aortic val...",10,5.436111
3,001de182-e64e-6d91-b51d-e2c0faf1c472,2022-10,1,001de182-e64e-6d91-b51d-e2c0faf1c472,"{ischemic heart disease (disorder), aortic val...",10,0.250000
4,001de182-e64e-6d91-b51d-e2c0faf1c472,2023-02,3,001de182-e64e-6d91-b51d-e2c0faf1c472,"{ischemic heart disease (disorder), aortic val...",10,0.921944
...,...,...,...,...,...,...,...
4407,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,2022-05,1,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,{inflammatory disorder due to increased blood ...,10,0.250000
4408,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,2023-05,1,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,{inflammatory disorder due to increased blood ...,10,0.250000
4409,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,2024-05,2,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,{inflammatory disorder due to increased blood ...,10,4.243889
4410,ffbfb443-15da-7009-989f-101c5ef727ee,2024-07,1,ffbfb443-15da-7009-989f-101c5ef727ee,"{otitis media (disorder), acute bronchitis (di...",2,0.500000
4411,ffbfb443-15da-7009-989f-101c5ef727ee,2024-10,2,ffbfb443-15da-7009-989f-101c5ef727ee,"{otitis media (disorder), acute bronchitis (di...",2,0.250000

In [13]:
import pandas as pd

# Assuming full_df and procedure_occurrence_df already exist
# And assuming patients_df contains the 'age', 'GENDER', 'RACE_*' columns

# Merge 'START' and 'STOP' from 'procedure_occurrence_df' into 'full_df' on 'PATIENT'
full_df = full_df.merge(procedure_occurrence_df[['PATIENT', 'START', 'STOP']], on='PATIENT', how='left')

# Convert 'START' and 'STOP' to datetime if they are not already
full_df['START'] = pd.to_datetime(full_df['START'])
full_df['STOP'] = pd.to_datetime(full_df['STOP'])

# Merge 'age', 'GENDER', and 'RACE_*' columns from the patients DataFrame into full_df
full_df = full_df.merge(patients_df[['PATIENT', 'age', 'GENDER', 'RACE_black', 'RACE_hawaiian', 'RACE_native', 'RACE_other', 'RACE_white']], on='PATIENT', how='left')

# Find the most recent admission date for each patient
most_recent_dates = full_df.groupby('PATIENT')['STOP'].max().reset_index()
most_recent_dates.rename(columns={'STOP': 'most_recent_admission'}, inplace=True)

# Merge the most recent admission date back to the full_df
full_df = full_df.merge(most_recent_dates, on='PATIENT', how='left')

# Calculate the difference in days between the most recent admission and each admission
full_df['days_since_last_admission'] = (full_df['most_recent_admission'] - full_df['STOP']).dt.days

# Create binary flags for admissions within the last 30 and 60 days
full_df['admitted_last_30_days'] = full_df['days_since_last_admission'].apply(lambda x: 1 if x <= 30 else 0)
full_df['admitted_last_60_days'] = full_df['days_since_last_admission'].apply(lambda x: 1 if x <= 60 else 0)

# Display the updated DataFrame with the new flags and demographic features

In [14]:
observationsDF = pd.read_csv("observations.csv")
observationsDF

,DATE,PATIENT,ENCOUNTER,CATEGORY,CODE,DESCRIPTION,VALUE,UNITS,TYPE
0,2023-04-28T02:35:38Z,5a99402f-41ab-6dde-f8ba-9a2b495afbbf,NaN,NaN,QALY,QALY,31.0,a,numeric
1,2024-04-28T02:35:38Z,5a99402f-41ab-6dde-f8ba-9a2b495afbbf,NaN,NaN,QALY,QALY,32.0,a,numeric
2,2023-04-28T02:35:38Z,5a99402f-41ab-6dde-f8ba-9a2b495afbbf,NaN,NaN,DALY,DALY,0.0,a,numeric
3,2023-09-28T10:39:28Z,07f66484-7460-46dd-7612-994f71ef0170,57b6ccc7-ee5f-3a9d-a061-f4c277869342,laboratory,4548-4,Hemoglobin A1c/Hemoglobin.total in Blood,6.1,%,numeric
4,2023-09-28T10:39:28Z,07f66484-7460-46dd-7612-994f71ef0170,57b6ccc7-ee5f-3a9d-a061-f4c277869342,vital-signs,8302-2,Body Height,188.5,cm,numeric
...,...,...,...,...,...,...,...,...,...
195238,2024-09-02T14:24:45Z,626745ee-e39c-85d5-f0b0-3084d51ade31,NaN,NaN,QALY,QALY,82.4,a,numeric
195239,2023-09-02T14:24:45Z,626745ee-e39c-85d5-f0b0-3084d51ade31,NaN,NaN,DALY,DALY,0.6,a,numeric
195240,2024-09-02T14:24:45Z,626745ee-e39c-85d5-f0b0-3084d51ade31,NaN,NaN,DALY,DALY,0.6,a,numeric
195241,2023-09-02T14:24:45Z,626745ee-e39c-85d5-f0b0-3084d51ade31,NaN,NaN,QOLS,QOLS,1.0,{score},numeric
195242,2024-09-02T14:24:45Z,626745ee-e39c-85d5-f0b0-3084d51ade31,NaN,NaN,QOLS,QOLS,1.0,{score},numeric

In [15]:
obs_counts = observationsDF.groupby("PATIENT").size().reset_index(name="observation_count")
obs_counts

                                   PATIENT  observation_count
0     001de182-e64e-6d91-b51d-e2c0faf1c472                144
1     00492a59-9328-74d8-1eaf-6080e92a9a59                107
2     006bb486-74cc-29d4-b97f-f035efb613d1                 88
3     009704fb-88dc-51d2-9abf-8f1eec6146a3                 94
4     01756a31-66c6-bb37-4054-1a3873160148                 91
...                                    ...                ...
1024  fefd3188-f9b2-8ef0-e01c-4286114ad130                 54
1025  ff398fc0-a59d-468e-d8a7-46969455ec51                 97
1026  ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d                154
1027  ffa6a4b5-52ef-4ec7-47f6-465b796cda17                 29
1028  ffbfb443-15da-7009-989f-101c5ef727ee                 85

[1029 rows x 2 columns]

In [16]:
full_df = full_df.merge(obs_counts, on="PATIENT", how="left")
full_df["observation_count"] = full_df["observation_count"].fillna(0)

In [17]:
# full_df_unique = full_df.drop_duplicates()
full_df_droppedSet = full_df.drop(columns=["conditions_set"])
full_df_droppedSet_unique = full_df_droppedSet.drop_duplicates()
full_df_droppedSet_unique

,PATIENT,month,medication_count,Id,num_conditions,length_of_stay,START,STOP,age,GENDER,RACE_black,RACE_hawaiian,RACE_native,RACE_other,RACE_white,most_recent_admission,days_since_last_admission,admitted_last_30_days,admitted_last_60_days,observation_count
0,001de182-e64e-6d91-b51d-e2c0faf1c472,1956-01,1,001de182-e64e-6d91-b51d-e2c0faf1c472,10,2.236111,1956-01-23 14:27:42+00:00,NaT,107,0,False,False,False,False,True,2025-03-10 13:08:55+00:00,NaN,0,0,144
1,001de182-e64e-6d91-b51d-e2c0faf1c472,1956-01,1,001de182-e64e-6d91-b51d-e2c0faf1c472,10,2.236111,1975-05-22 13:08:55+00:00,2024-10-22 13:08:55+00:00,107,0,False,False,False,False,True,2025-03-10 13:08:55+00:00,139.0,0,0,144
2,001de182-e64e-6d91-b51d-e2c0faf1c472,1956-01,1,001de182-e64e-6d91-b51d-e2c0faf1c472,10,2.236111,1984-07-02 13:08:55+00:00,NaT,107,0,False,False,False,False,True,2025-03-10 13:08:55+00:00,NaN,0,0,144
4,001de182-e64e-6d91-b51d-e2c0faf1c472,1956-01,1,001de182-e64e-6d91-b51d-e2c0faf1c472,10,2.236111,2022-10-23 13:08:55+00:00,2023-10-23 13:08:55+00:00,107,0,False,False,False,False,True,2025-03-10 13:08:55+00:00,504.0,0,0,144
5,001de182-e64e-6d91-b51d-e2c0faf1c472,1956-01,1,001de182-e64e-6d91-b51d-e2c0faf1c472,10,2.236111,2023-02-27 13:08:55+00:00,2024-03-04 13:08:55+00:00,107,0,False,False,False,False,True,2025-03-10 13:08:55+00:00,371.0,0,0,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246761,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,2024-05,2,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,10,4.243889,2024-05-18 15:41:36+00:00,2024-05-18 15:41:36+00:00,68,0,False,False,False,False,True,2024-05-18 15:41:36+00:00,0.0,1,1,154
246762,ffbfb443-15da-7009-989f-101c5ef727ee,2024-07,1,ffbfb443-15da-7009-989f-101c5ef727ee,2,0.500000,2024-07-28 05:24:24+00:00,2024-08-04 05:24:24+00:00,2,0,False,False,False,False,True,2024-10-26 05:13:48+00:00,82.0,0,0,85
246763,ffbfb443-15da-7009-989f-101c5ef727ee,2024-07,1,ffbfb443-15da-7009-989f-101c5ef727ee,2,0.500000,2024-10-12 05:13:48+00:00,2024-10-26 05:13:48+00:00,2,0,False,False,False,False,True,2024-10-26 05:13:48+00:00,0.0,1,1,85
246765,ffbfb443-15da-7009-989f-101c5ef727ee,2024-10,2,ffbfb443-15da-7009-989f-101c5ef727ee,2,0.250000,2024-07-28 05:24:24+00:00,2024-08-04 05:24:24+00:00,2,0,False,False,False,False,True,2024-10-26 05:13:48+00:00,82.0,0,0,85
246766,ffbfb443-15da-7009-989f-101c5ef727ee,2024-10,2,ffbfb443-15da-7009-989f-101c5ef727ee,2,0.250000,2024-10-12 05:13:48+00:00,2024-10-26 05:13:48+00:00,2,0,False,False,False,False,True,2024-10-26 05:13:48+00:00,0.0,1,1,85

In [18]:
# full_df.to_csv("full_dfpatient.csv")

In [19]:
full_df_droppedSet_unique.shape

(133222, 20)

In [20]:
full_df_droppedSet_unique

,PATIENT,month,medication_count,Id,num_conditions,length_of_stay,START,STOP,age,GENDER,RACE_black,RACE_hawaiian,RACE_native,RACE_other,RACE_white,most_recent_admission,days_since_last_admission,admitted_last_30_days,admitted_last_60_days,observation_count
0,001de182-e64e-6d91-b51d-e2c0faf1c472,1956-01,1,001de182-e64e-6d91-b51d-e2c0faf1c472,10,2.236111,1956-01-23 14:27:42+00:00,NaT,107,0,False,False,False,False,True,2025-03-10 13:08:55+00:00,NaN,0,0,144
1,001de182-e64e-6d91-b51d-e2c0faf1c472,1956-01,1,001de182-e64e-6d91-b51d-e2c0faf1c472,10,2.236111,1975-05-22 13:08:55+00:00,2024-10-22 13:08:55+00:00,107,0,False,False,False,False,True,2025-03-10 13:08:55+00:00,139.0,0,0,144
2,001de182-e64e-6d91-b51d-e2c0faf1c472,1956-01,1,001de182-e64e-6d91-b51d-e2c0faf1c472,10,2.236111,1984-07-02 13:08:55+00:00,NaT,107,0,False,False,False,False,True,2025-03-10 13:08:55+00:00,NaN,0,0,144
4,001de182-e64e-6d91-b51d-e2c0faf1c472,1956-01,1,001de182-e64e-6d91-b51d-e2c0faf1c472,10,2.236111,2022-10-23 13:08:55+00:00,2023-10-23 13:08:55+00:00,107,0,False,False,False,False,True,2025-03-10 13:08:55+00:00,504.0,0,0,144
5,001de182-e64e-6d91-b51d-e2c0faf1c472,1956-01,1,001de182-e64e-6d91-b51d-e2c0faf1c472,10,2.236111,2023-02-27 13:08:55+00:00,2024-03-04 13:08:55+00:00,107,0,False,False,False,False,True,2025-03-10 13:08:55+00:00,371.0,0,0,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246761,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,2024-05,2,ffa0143e-52d5-3bcd-6d8f-cc23b5a94c9d,10,4.243889,2024-05-18 15:41:36+00:00,2024-05-18 15:41:36+00:00,68,0,False,False,False,False,True,2024-05-18 15:41:36+00:00,0.0,1,1,154
246762,ffbfb443-15da-7009-989f-101c5ef727ee,2024-07,1,ffbfb443-15da-7009-989f-101c5ef727ee,2,0.500000,2024-07-28 05:24:24+00:00,2024-08-04 05:24:24+00:00,2,0,False,False,False,False,True,2024-10-26 05:13:48+00:00,82.0,0,0,85
246763,ffbfb443-15da-7009-989f-101c5ef727ee,2024-07,1,ffbfb443-15da-7009-989f-101c5ef727ee,2,0.500000,2024-10-12 05:13:48+00:00,2024-10-26 05:13:48+00:00,2,0,False,False,False,False,True,2024-10-26 05:13:48+00:00,0.0,1,1,85
246765,ffbfb443-15da-7009-989f-101c5ef727ee,2024-10,2,ffbfb443-15da-7009-989f-101c5ef727ee,2,0.250000,2024-07-28 05:24:24+00:00,2024-08-04 05:24:24+00:00,2,0,False,False,False,False,True,2024-10-26 05:13:48+00:00,82.0,0,0,85
246766,ffbfb443-15da-7009-989f-101c5ef727ee,2024-10,2,ffbfb443-15da-7009-989f-101c5ef727ee,2,0.250000,2024-10-12 05:13:48+00:00,2024-10-26 05:13:48+00:00,2,0,False,False,False,False,True,2024-10-26 05:13:48+00:00,0.0,1,1,85

In [21]:
from sklearn.model_selection import train_test_split

# Separate features (X) and target (y)
# Assuming the target is a column like 'admitted_last_30_days' or 'admitted_last_60_days'
X = full_df_droppedSet_unique.drop(columns=['admitted_last_30_days', 'admitted_last_60_days', 'days_since_last_admission'])  # Remove target columns
y_30 = full_df_droppedSet_unique['admitted_last_30_days']
y_60 = full_df_droppedSet_unique['admitted_last_60_days']
# Split the data into training and testing sets
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
# Drop columns that are not needed for training (e.g., PATIENT, START, STOP)

In [22]:
from sklearn.model_selection import train_test_split

# Split the data for 30-day prediction
X_train_30, X_test_30, y_train_30, y_test_30 = train_test_split(X, y_30, test_size=0.25, random_state=42)

# Split the data for 60-day prediction
X_train_60, X_test_60, y_train_60, y_test_60 = train_test_split(X, y_60, test_size=0.25, random_state=42)

In [23]:
X_train_30_Fin = X_train_30.drop(columns=['month', 'Id', "most_recent_admission", 'PATIENT', 'START', 'STOP'])
# X_train_60, X_test_60, y_train_60, y_test_60 = train_test_split(X, y_60, test_size=0.25, random_state=42)
X_train_60_Fin = X_train_60.drop(columns=['month', 'Id', "most_recent_admission", 'PATIENT', 'START', 'STOP'])

X_test_30_Fin = X_test_30.drop(columns=['month', 'Id', "most_recent_admission", 'PATIENT', 'START', 'STOP'])
# X_train_60, X_test_60, y_train_60, y_test_60 = train_test_split(X, y_60, test_size=0.25, random_state=42)
X_test_60_Fin = X_test_60.drop(columns=['month', 'Id', "most_recent_admission", 'PATIENT', 'START', 'STOP'])

In [24]:
X_train_30_Fin

,medication_count,num_conditions,length_of_stay,age,GENDER,RACE_black,RACE_hawaiian,RACE_native,RACE_other,RACE_white,observation_count
125823,5,17,14.898056,56,1,False,False,False,False,True,2433
101288,10,6,13.672500,58,0,False,False,False,False,True,1947
57330,4,9,3.719444,78,0,True,False,False,False,False,2404
126374,24,17,4.000000,56,1,False,False,False,False,True,2433
180767,4,12,0.937778,71,0,False,False,False,False,True,180
...,...,...,...,...,...,...,...,...,...,...,...
201912,10,8,28.966667,39,1,False,False,False,False,False,1322
218501,9,6,31.550000,37,0,False,False,False,False,True,1497
190830,9,5,26.350000,4,1,True,False,False,False,False,1182
243371,4,8,0.647500,57,1,False,False,False,False,True,1875
220733,8,6,14.287500,37,0,False,False,False,False,True,1497

In [25]:
from sklearn.preprocessing import StandardScaler

# Scale the features
scaler_30 = StandardScaler()
X_train_30_scaled = scaler_30.fit_transform(X_train_30_Fin)
X_test_30_scaled = scaler_30.transform(X_test_30_Fin)
scaler_60 =  StandardScaler()
X_train_60_scaled = scaler_60.fit_transform(X_train_60_Fin)
X_test_60_scaled = scaler_60.transform(X_test_60_Fin)

from imblearn.over_sampling import SMOTE

# Apply SMOTE on 2D training data
smote_30 = SMOTE(random_state=42)
X_train_30_resampled, y_train_30_resampled = smote_30.fit_resample(X_train_30_scaled, y_train_30)

smote_60 = SMOTE(random_state=42)
X_train_60_resampled, y_train_60_resampled = smote_60.fit_resample(X_train_60_scaled, y_train_60)


# Reshape the data for LSTM (3D shape: samples, timesteps, features)
X_train_30_reshaped = X_train_30_resampled.reshape((X_train_30_resampled.shape[0], 1, X_train_30_scaled.shape[1]))
X_test_30_reshaped = X_test_30_scaled.reshape((X_test_30_scaled.shape[0], 1, X_test_30_scaled.shape[1]))

X_train_60_reshaped = X_train_60_resampled.reshape((X_train_60_resampled.shape[0], 1, X_train_60_scaled.shape[1]))
X_test_60_reshaped = X_test_60_scaled.reshape((X_test_60_scaled.shape[0], 1, X_test_60_scaled.shape[1]))

In [26]:
!pip install tensorflow

Requirement already satisfied: tensorflow in ./omopenv/lib/python3.10/site-packages (2.19.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (1.71.0)
Requirement already satisfied: typing-extensions>=3.6.6 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (4.13.1)
Requirement already satisfied: absl-py>=1.0.0 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (2.2.2)
Requirement already satisfied: opt-einsum>=2.3.2 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (3.4.0)
Requirement already satisfied: requests<3,>=2.21.0 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (2.32.3)
Requirement already satisfied: setuptools in ./omopenv/lib/python3.10/site-packages (from tensorflow) (63.2.0)
Requirement already satisfied: termcolor>=1.1.0 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (3.0.1)
Requirement already satisfied: numpy<2.2.0,>=1.26.0 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (2.1.3)
Requirement already satisfied: h5py>=3.11.0 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (3.13.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (0.37.1)
Requirement already satisfied: libclang>=13.0.0 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (18.1.1)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (5.29.4)
Requirement already satisfied: packaging in ./omopenv/lib/python3.10/site-packages (from tensorflow) (24.2)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (0.6.0)
Requirement already satisfied: keras>=3.5.0 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (3.9.2)
Requirement already satisfied: google-pasta>=0.1.1 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: astunparse>=1.6.0 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (25.2.10)
Requirement already satisfied: tensorboard~=2.19.0 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (2.19.0)
Requirement already satisfied: six>=1.12.0 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (1.17.0)
Requirement already satisfied: wrapt>=1.11.0 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (1.17.2)
Requirement already satisfied: ml-dtypes<1.0.0,>=0.5.1 in ./omopenv/lib/python3.10/site-packages (from tensorflow) (0.5.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in ./omopenv/lib/python3.10/site-packages (from astunparse>=1.6.0->tensorflow) (0.45.1)
Requirement already satisfied: namex in ./omopenv/lib/python3.10/site-packages (from keras>=3.5.0->tensorflow) (0.0.8)
Requirement already satisfied: rich in ./omopenv/lib/python3.10/site-packages (from keras>=3.5.0->tensorflow) (14.0.0)
Requirement already satisfied: optree in ./omopenv/lib/python3.10/site-packages (from keras>=3.5.0->tensorflow) (0.15.0)
Requirement already satisfied: certifi>=2017.4.17 in ./omopenv/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorflow) (2025.1.31)
Requirement already satisfied: charset-normalizer<4,>=2 in ./omopenv/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorflow) (3.4.1)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./omopenv/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorflow) (2.3.0)
Requirement already satisfied: idna<4,>=2.5 in ./omopenv/lib/python3.10/site-packages (from requests<3,>=2.21.0->tensorflow) (3.10)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in ./omopenv/lib/python3.10/site-packages (from tensorboard~=2.19.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in ./omopenv/lib/python3.10/site-packages (from tensorboard~=2.19.0->tensorflow) (3.1.3)
Requirement already satisfied: markdown>=2.6.8 in ./omopenv/lib/python3.10/site-packages (from tensorboard~=2.19.0->tensorflow) (3.8)
Requirement already satisfied: MarkupSafe>=2.1.1 in ./omopenv/lib/python3.10/site-packages (from werkzeug>=1.0.1->tensorboard~=2.19.0->tensorflow) (3.0.2)
Requirement already satisfied: markdown-it-py>=2.2.0 in ./omopenv/lib/python3.10/site-packages (from rich->keras>=3.5.0->tensorflow) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in ./omopenv/lib/python3.10/site-packages (from rich->keras>=3.5.0->tensorflow) (2.19.1)
Requirement already satisfied: mdurl~=0.1 in ./omopenv/lib/python3.10/site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow) (0.1.2)

[notice] A new release of pip available: 22.2.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip

In [27]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout


# Build the model for 30-day prediction
model_30 = Sequential()
model_30.add(LSTM(units=50, return_sequences=False, input_shape=(X_train_30_reshaped.shape[1], X_train_30_reshaped.shape[2])))
model_30.add(Dropout(0.2))
model_30.add(Dense(1, activation='sigmoid'))  # Output layer (binary classification)

# Compile the model

model_30.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history_30 = model_30.fit(X_train_30_reshaped, y_train_30_resampled, epochs=10, batch_size=64, validation_data=(X_test_30_reshaped, y_test_30))

Epoch 1/10

/Users/kunalmohindra/Lab-3-OMOP-on-FHIR/omopenv/lib/python3.10/site-packages/keras/src/layers/rnn/rnn.py:200: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

2849/2849 ━━━━━━━━━━━━━━━━━━━━ 3s 790us/step - accuracy: 0.6698 - loss: 0.6186 - val_accuracy: 0.7746 - val_loss: 0.5809
Epoch 2/10
2849/2849 ━━━━━━━━━━━━━━━━━━━━ 2s 730us/step - accuracy: 0.6946 - loss: 0.5965 - val_accuracy: 0.7777 - val_loss: 0.5883
Epoch 3/10
2849/2849 ━━━━━━━━━━━━━━━━━━━━ 3s 883us/step - accuracy: 0.6996 - loss: 0.5894 - val_accuracy: 0.7821 - val_loss: 0.5724
Epoch 4/10
2849/2849 ━━━━━━━━━━━━━━━━━━━━ 2s 772us/step - accuracy: 0.7033 - loss: 0.5852 - val_accuracy: 0.7856 - val_loss: 0.5888
Epoch 5/10
2849/2849 ━━━━━━━━━━━━━━━━━━━━ 2s 728us/step - accuracy: 0.7057 - loss: 0.5823 - val_accuracy: 0.7860 - val_loss: 0.5703
Epoch 6/10
2849/2849 ━━━━━━━━━━━━━━━━━━━━ 2s 765us/step - accuracy: 0.7064 - loss: 0.5810 - val_accuracy: 0.7809 - val_loss: 0.5859
Epoch 7/10
2849/2849 ━━━━━━━━━━━━━━━━━━━━ 2s 787us/step - accuracy: 0.7090 - loss: 0.5784 - val_accuracy: 0.7887 - val_loss: 0.5733
Epoch 8/10
2849/2849 ━━━━━━━━━━━━━━━━━━━━ 2s 830us/step - accuracy: 0.7112 - loss: 0.5770 - val_accuracy: 0.7958 - val_loss: 0.5604
Epoch 9/10
2849/2849 ━━━━━━━━━━━━━━━━━━━━ 2s 755us/step - accuracy: 0.7155 - loss: 0.5730 - val_accuracy: 0.7947 - val_loss: 0.5573
Epoch 10/10
2849/2849 ━━━━━━━━━━━━━━━━━━━━ 2s 705us/step - accuracy: 0.7165 - loss: 0.5716 - val_accuracy: 0.7934 - val_loss: 0.5471

In [28]:
# Build the model for 60-day prediction
model_60 = Sequential()
model_60.add(LSTM(units=50, return_sequences=False, input_shape=(X_train_60_reshaped.shape[1], X_train_60_reshaped.shape[2])))
model_60.add(Dropout(0.2))
model_60.add(Dense(1, activation='sigmoid'))  # Output layer (binary classification)

# Compile the model
model_60.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Train the model
history_60 = model_60.fit(X_train_60_reshaped, y_train_60_resampled, epochs=10, batch_size=64, validation_data=(X_test_60_reshaped, y_test_60))

Epoch 1/10
2739/2739 ━━━━━━━━━━━━━━━━━━━━ 3s 907us/step - accuracy: 0.6128 - loss: 0.6565 - val_accuracy: 0.7211 - val_loss: 0.6462
Epoch 2/10
2739/2739 ━━━━━━━━━━━━━━━━━━━━ 2s 771us/step - accuracy: 0.6354 - loss: 0.6424 - val_accuracy: 0.7253 - val_loss: 0.6348
Epoch 3/10
2739/2739 ━━━━━━━━━━━━━━━━━━━━ 2s 809us/step - accuracy: 0.6365 - loss: 0.6400 - val_accuracy: 0.7300 - val_loss: 0.6295
Epoch 4/10
2739/2739 ━━━━━━━━━━━━━━━━━━━━ 2s 701us/step - accuracy: 0.6385 - loss: 0.6365 - val_accuracy: 0.7293 - val_loss: 0.6161
Epoch 5/10
2739/2739 ━━━━━━━━━━━━━━━━━━━━ 2s 769us/step - accuracy: 0.6427 - loss: 0.6329 - val_accuracy: 0.7379 - val_loss: 0.6342
Epoch 6/10
2739/2739 ━━━━━━━━━━━━━━━━━━━━ 2s 892us/step - accuracy: 0.6439 - loss: 0.6306 - val_accuracy: 0.7515 - val_loss: 0.6241
Epoch 7/10
2739/2739 ━━━━━━━━━━━━━━━━━━━━ 2s 904us/step - accuracy: 0.6462 - loss: 0.6283 - val_accuracy: 0.7264 - val_loss: 0.6408
Epoch 8/10
2739/2739 ━━━━━━━━━━━━━━━━━━━━ 2s 806us/step - accuracy: 0.6490 - loss: 0.6260 - val_accuracy: 0.7487 - val_loss: 0.6219
Epoch 9/10
2739/2739 ━━━━━━━━━━━━━━━━━━━━ 2s 740us/step - accuracy: 0.6485 - loss: 0.6255 - val_accuracy: 0.7278 - val_loss: 0.6324
Epoch 10/10
2739/2739 ━━━━━━━━━━━━━━━━━━━━ 2s 759us/step - accuracy: 0.6500 - loss: 0.6236 - val_accuracy: 0.7285 - val_loss: 0.6381

In [29]:
# Evaluate the 30-day model
loss_30, accuracy_30 = model_30.evaluate(X_test_30_reshaped, y_test_30)
print(f'Test Loss (30-day): {loss_30}')
print(f'Test Accuracy (30-day): {accuracy_30}')

# Evaluate the 60-day model
loss_60, accuracy_60 = model_60.evaluate(X_test_60_reshaped, y_test_60)
print(f'Test Loss (60-day): {loss_60}')
print(f'Test Accuracy (60-day): {accuracy_60}')

1041/1041 ━━━━━━━━━━━━━━━━━━━━ 0s 401us/step - accuracy: 0.7922 - loss: 0.5488
Test Loss (30-day): 0.5471482276916504
Test Accuracy (30-day): 0.7934306263923645
1041/1041 ━━━━━━━━━━━━━━━━━━━━ 0s 364us/step - accuracy: 0.7257 - loss: 0.6387
Test Loss (60-day): 0.6381406784057617
Test Accuracy (60-day): 0.7285174131393433

In [30]:
X_new = pd.DataFrame([{
    'month': 1,
    'medication_count': 1,
    'num_conditions': 3,
    'length_of_stay': 1,
    'age': 20,
    'GENDER': 1,  # Assume 1 = Male, 0 = Female or encoded
    'RACE_black': 0,
    'RACE_hawaiian': 0,
    'RACE_native': 0,
    'RACE_other': 1,
    'RACE_white': 0,
    'days_since_last_admission': 15.0
}])

In [31]:
X_train_30_Fin.columns

Index(['medication_count', 'num_conditions', 'length_of_stay', 'age', 'GENDER',
       'RACE_black', 'RACE_hawaiian', 'RACE_native', 'RACE_other',
       'RACE_white', 'observation_count'],
      dtype='object')

In [34]:
import numpy as np

# Replace this with your actual new patient input
X_new = np.array([[0, 0, 1, 18, 1, 0, 0, 0, 0, 1, 1]])  # shape: (1, num_features)

# 🧼 Scale once — reuse the same scaler used in training
# Do NOT fit again — just use transform
X_new_scaled_30 = scaler_30.transform(X_new)
X_new_scaled_60 = scaler_60.transform(X_new)

# 📏 Reshape for LSTM input: (samples=1, timesteps=1, features)
X_new_reshaped_30 = X_new_scaled_30.reshape((1, 1, X_new_scaled_30.shape[1]))
X_new_reshaped_60 = X_new_scaled_60.reshape((1, 1, X_new_scaled_60.shape[1]))

# 🤖 Predict probabilities
risk_30 = model_30.predict(X_new_reshaped_30)[0][0]  # scalar
risk_60 = model_60.predict(X_new_reshaped_60)[0][0]  # scalar

print(risk_30, risk_60)

# 🎯 Convert to 1-100 scale
risk_30_percent = 1 + (risk_30 * 99)
risk_60_percent = 1 + (risk_60 * 99)

# 🧮 Average for overall risk
overall_risk = (risk_30_percent + risk_60_percent) / 2

# 📊 Display
print(f"30-day risk (1-100 scale): {risk_30_percent:.2f}")
print(f"60-day risk (1-100 scale): {risk_60_percent:.2f}")
print(f"Overall risk score       : {overall_risk:.2f}")

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 16ms/step
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 19ms/step
0.91861916 0.9321529
30-day risk (1-100 scale): 91.94
60-day risk (1-100 scale): 93.28
Overall risk score       : 92.61

/Users/kunalmohindra/Lab-3-OMOP-on-FHIR/omopenv/lib/python3.10/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
/Users/kunalmohindra/Lab-3-OMOP-on-FHIR/omopenv/lib/python3.10/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(